* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primeira: #FFF0D5;
    --segunda: #5C483B;
    --terceira: #000000;
    --quarta: #743014;
    --footer: #E4CEB4;

}

img {
    /*max-width: 100%;*/
    height: 100%;
    width: 50%;



}


body {

    font-family: 'Poppins', sans-serif;
    background-color: var(--primeira);
}

footer {
    background-color: var(--quarta);
}


a {
    font-family: inherit;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}


header {
    /* CONTEINER PAI*/
    display: flex;
    height: 100%;
    width: 100%;

}

header .nav {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 30px;
    white-space: nowrap;
    background-color: var(--primeira);
}

.nav a {
    text-decoration: none;
    font-weight: 600;
    color: var(--segunda);
    font-family: 'Poppins', sans-serif;

}

.nav a:hover {
    text-decoration: underline;
}

.nav a.semsublinhado {
    text-decoration: none;
}

/*----------------------------------------------------------------*/

.caixaprincipal1 {
    width: 100%;
    height: 100%;
    /* ou 100vh */
    display: flex;
    justify-content: center;
    align-items: center;
}




.divimagemcafe {
    width: 100%;
}

.hero-imagem {
    width: 100%;
    height: 500px;
    background-image: url(img/imagemcafeIA.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-imagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 190px;
    gap: 20px;

}

.hero-imagem h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    letter-spacing: 5px;
    font-size: 56px;

}

.hero-imagem h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    letter-spacing: 5px;
    font-size: 24px;
}

.hero-imagem a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: var(--segunda);
    border-radius: 16px;
    padding: 16px;
    letter-spacing: 3px;
    transition: 0.3s
}

.hero-imagem a:hover {
    background-color: var(--quarta)
}


.titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: black;
    letter-spacing: 5px;
    font-size: 24px;
}


.caixa-principal3 {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--primeira);
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;


}


.produto1 img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4a2e1f;
    padding: 6px;
    background-color: #fff;


}



.produto2 img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4a2e1f;
    padding: 6px;
    background-color: #fff;


}


.produto3 img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4a2e1f;
    padding: 6px;
    background-color: #fff;


}


.produto4 img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4a2e1f;
    padding: 6px;
    background-color: #fff;


}

.produto5 img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4a2e1f;
    padding: 6px;
    background-color: #fff;


}

.produto6 img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4a2e1f;
    padding: 6px;
    background-color: #fff;


}

.caixa-principal3 a {
    text-decoration: none;
    font-weight: 600;
    color: var(--segunda);

}

.caixa-principal3 a:hover {
    color: var(--quarta)
}

.caixa-principal3 h3 {
    font-size: 18px;

}

.caixa-principal4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 320px);

    grid-template-areas:
        "img-esq centro img-dir"
        "texto-esq img-centro texto-dir";

    background-color: var(--primeira);

}

.produto-img-esq {
    grid-area: img-esq;
}

.produto-centro {
    grid-area: centro;
}

.produto-img-dir {
    grid-area: img-dir;
}

.produto-texto-esq {
    grid-area: texto-esq;
}

.produto-img-centro {
    grid-area: img-centro;
}

.produto-texto-dir {
    grid-area: texto-dir;
}

.caixa-principal4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Blocos de texto */
.produto-centro,
.produto-texto-esq,
.produto-texto-dir {
    background-color: var(--segunda);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.caixa-principal4 h2 {
    font-size: 24px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.caixa-principal4 p {
    font-size: 13px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.caixa-principal4 a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: var(--quarta);
    border-radius: 16px;
    padding: 16px;
    letter-spacing: 3px;
    transition: 0.3s
}

.caixa-principal4 a:hover {
    background-color: var(--segunda)
}

.caixa-principall5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  grid-template-areas:
    "titulo titulo"
    "texto imagem";

  gap: 40px;

  padding: 60px;
  max-width: 1100px;
  margin: 0 auto;
}

.titulo-caixa15 {
  grid-area: titulo;
  font-size: 2.4rem;
}

.caixa-principall5 p {
  grid-area: texto;
  line-height: 1.6;
}

.caixa-principall5 img {
  grid-area: imagem;
  width: 100%;
  max-width: 450px;
  justify-self: end;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 30px 0;
    background-color: #6b2f14; /* marrom do café */
}

.footer-texto {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
}

.footer-social {
    display: flex;
    flex-direction: column; /* um embaixo do outro */
    align-items: center;
    gap: 10px; /* espaço pequeno */
}

.footer-social .titulo-social {
    margin-bottom: 5px;
    font-weight: bold;
}

.social-link svg {
    width: 32px;
    height: 32px;
}

.footer-texto p {
    font-weight: bold;
}
